.container {
  min-width: 100%;
  text-align: center;
  background-color: rgb(224, 224, 224);
  min-height: 100%;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.textInput {
  /* margin-right: 100px; */
  height: 50px;
  width: 40%;
  font-size: 16px;
}
.add-task-group div {
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
}

.low {
  margin: 0;
  /* float: left; */
  display: inline-block;
  background-color: green;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  color: black;
  border-radius: 25px;
  padding-top: 2px;
  font-size: 20px;
}
.medium {
  margin: 0;
  display: inline-block;
  /* float: left; */
  background-color: yellow;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  color: black;
  border-radius: 25px;
  padding-top: 2px;
  font-size: 20px;
}
.important {
  margin: 0;
  display: inline-block;
  /* float: left; */
  background-color: red;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  color: black;
  border-radius: 25px;
  padding-top: 2px;
  font-size: 20px;
}

.inp-div {
  position: relative;
  margin-left: 10px;
  top: 15px;
}

.div-style {
  font-weight: bold;
  position: relative;
  top: 2px;
}
.date-inp {
  margin-bottom: 10px;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border: 2px solid rgb(124, 3, 245);
}
.btn-add-new-task {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(50, 149, 50);
  border: 2px solid green;
}
.btn-add-new-task:hover {
  background-color: green;
}
.doneSection {
  width: 100%;
}

input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: rgb(224, 224, 224);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #3071a9;
}
