.textInput {
  margin-right: 100px;
  height: 50px;
  width: 60%;
  font-size: 16px;
}
.priorityButton {
  background-color: red;
  margin-left: 10px;
  width: 70px;
  height: 30px;
}

.low {
  background-color: green;
  margin-left: 10px;
  width: 80px;
  height: 30px;
  font-weight: bold;
  color: black;
}
.medium {
  background-color: yellow;
  margin-left: 10px;
  width: 80px;
  height: 30px;
  font-weight: bold;
  color: black;
}
.important {
  background-color: red;
  margin-left: 10px;
  width: 80px;
  height: 30px;
  font-weight: bold;
  color: black;
}
