.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: aqua;
}

.app-header {
  flex-basis: 30vh;
  background-color: black;
}

main {
  display: flex;
  flex-grow: 1;

  background-color: rgb(73, 219, 28);
}
aside {
  display: flex;
  min-width: 25%;
  font-size: 4vmin;
  background-color: rgb(109, 61, 15);
}
.blog {
  flex-grow: 1;
}
footer {
  background-color: yellow;
}

.body-container {
  display: flex;
  flex-grow: 1;
}

.to-do-app-container {
}
