.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  max-width: 80%;
}

.app-header {
  margin-top: 10px;
  flex-basis: 30vh;
  background-color: black;
  border-radius: 25px;
}

main {
  display: flex;
  flex-grow: 1;
  background-color: white;
}
aside {
  min-width: 25%;
  font-size: 3.5vmin;
  background-color: white;
  padding-top: 50px;
}
.blog {
  flex-grow: 1;
}
footer {
  text-align: right;
  font-size: 15px;
}

.body-container {
  display: flex;
  flex-grow: 1;
}

.to-do-app-container {
}
